@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DiplomskiCore1.ViewModels.BlogCommentsViewModel
@{
    ViewData["Title"] = "Contact";
    ViewBag.Title = "Blogggg";
 }


<div class="container">
    @Html.ActionLink("Back to List", "Index")

    <h2>@Model.Title</h2>
    <q>@Model.Text</q>

    <hr/>
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <p>@comment.Text</p>
        <hr/>
    }

    <hr/>
    <form asp-controller="Comment" asp-action="Create" method="post" class="form-horizontal">
        <input asp-for="BlogId" type="hidden" />
        <div>
            @Html.LabelFor(m => m.NewCommentText)
            @Html.TextBoxFor(m => m.NewCommentText)
        </div>
        <div>
            <input type="submit" value="Create" style="margin-left:30px" class="btn btn-default" />
        </div>
      </form>
</div>