@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model DiplomskiCore1.ViewModels.BlogEditViewModel
@{
     ViewBag.Title = "Blog Edit";
 }

<div class="container">
    <h2>Edit Blog</h2>
    @Html.ActionLink("Back to List", "Index")

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}
</div>