@using DiplomskiCore1.ViewModels
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DiplomskiCore1.ViewModels.BlogViewModel
@{
     ViewBag.Title = "Blog List";
 }

<div class="container">
    <h2>This is a blog page</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
        @foreach (var blog in Model.Blogs)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@blog.Title</div>
                <div class="panel-body">
                    @blog.Text
                </div>
                <div class="panel-footer">
                    <span>@Html.ActionLink("Details", "Details",
                             new { id = blog.Id },
                             new { @class = "btn btn-default"})</span>
                    <span>@Html.ActionLink("Edit", "Edit",
                             new { id = blog.Id, blogViewModel = new BlogEditViewModel() },
                             new { @class = "btn btn-primary" })</span>
                    <span>@Html.ActionLink("Delete", "Delete",
                             new {id = blog.Id},
                             new { @class = "btn btn-danger" })</span>
                </div>
            </div>
        }
</div>